* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}


span{
	color: blue;
}

#app-container{
	display: inline-block;
	vertical-align: top;
}

.col-sm-9{
	width: 60%;
}

.form-control{
	width: 20%;
}

.navbar{
	width: 100%;
}

.nav-buttons{
	width: 20%;
}
